<div class="container">
  <form class="form-signin" action="#">
    <h2 class="form-signin-heading">Sign In</h2>
    <div class="login-warp" style="padding: 20px">
      <input type="text" class="form-control" placeholder="Username" autofocus>
      <input type="password" class="form-control" placeholder="Password">
      <button class="btn btn-lg btn-login btn-block" type="submit">Sign In</button>
    </div>
  </form>
</div>