<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<section class="panel">
			<header class="panel-heading"><center>Edit User {{ data.username }}</center></header>
			<form class="form-horizontal" role="form" ng-submit="submit(job)">
			<div class="panel-body">
					<div class="form-group">
						<label class="col-lg-2 col-sm-2 control-label" for="inputUsername">Username</label>
						<div class="col-lg-10">
							<input id="inputUsername" class="form-control" type="text" placeholder="Username..." ng-model="job.username">
							<input id="inputUsername" class="form-control" type="hidden" placeholder="Username..." ng-model="job.id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 col-sm-2 control-label" for="inputEmail">Email</label>
						<div class="col-lg-10">
							<input id="inputEmail" class="form-control" type="text" placeholder="Email..." ng-model="job.email">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 col-sm-2 control-label" for="inputPassword">Password</label>
						<div class="col-lg-10">
							<input id="inputPassword" class="form-control" type="password" placeholder="Password..." ng-model="job.password">
						</div>
					</div>
				
			</div>
			<div class="panel-footer">
				<button class="btn btn-primary" ng-click>Save</button>
				<a href="#userManagement" class="btn btn-warning">Cancel</a>
			</div>
			</form>
		</section>
	</div>
	<div class="col-md-2"></div>
</div>
